.container{
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form{
  width: 400px;
  box-shadow: 1px 8px 25px 0px #00000017;
  border-radius: 5px;
  padding: 2rem;
}
.container form input{
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  font-size: 1.3rem;
  width: 100%;
}
.messages{
  color:#f56;
}
.authentifier-btn {
  color:white;
  background-color: rgb(10 181 62);
  border-radius: 3px;
  border: none;
  margin-top: 1rem !important;
  cursor: pointer;
}